<script>
// 1
// var a= prompt("write between 1 or 4");
// if(a==1)
// {
//     document.write("one");
// }
// if(a==2)
// {
//     document.write("two");
// }
// if(a==3)
// {
//     document.write("three");
// }
// if(a==4)
// {
//     document.write('four');
// }
// else
// {
//     document.write("please enter between 1-4")
// }




var card = prompt("enter card details");
var cvv = prompt("enter cvv details");
var expiry = prompt("enter expiry details");
if(card==="1234" && cvv==="4321" && expiry==="10/10/10")
{
    document.write("welcome to the club");
}
else
{
    document.write("not welcome");
}
</script>