<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
#first{
    display:flex;
    padding:2px;
    margin:5px;
    gap:10px;

}
</style>
<body>
    <div id="first">
        <div style="background-color:lightgreen;">About Me </div>
        <div> | </div>
        <div style="background-color:rgb(233, 237, 13);">Contact Details </div>
        <div> | </div>
        <div style="background-color:lightblue;">Github link </div>
    </div>
    <div style="display:block;padding:15px;">
        <p>Hello there! Great to have you here </p>
        <p>I am Amrit Raj, B.Tech Electronics and Communication and an Enthuast in software </p>
        <p>Hope the quest to your search ends here, Have a great day! </p>
    </div>
</body>
</html>