<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="lineOne">a
        <input type="checkbox" id="a1">
        <input type="checkbox" id="a2">
        <input type="checkbox" id="a3">
        <input type="checkbox" id="a4">
        <input type="checkbox" id="a5">
        <input type="checkbox" id="a6">
        <input type="checkbox" id="a7">
        <input type="checkbox" id="a8">
        <input type="checkbox" id="a9">
        <input type="checkbox" id="a10">
        <input type="checkbox" id="a11">
        <input type="checkbox" id="a12">
        <input type="checkbox" id="a13">
    </div>
    <div id="lineTwo">b
        <input type="checkbox" id="b1">
        <input type="checkbox" id="b2">
        <input type="checkbox" id="b3">
        <input type="checkbox" id="b4">
        <input type="checkbox" id="b5">
        <input type="checkbox" id="b6">
        <input type="checkbox" id="b7">
        <input type="checkbox" id="b8">
        <input type="checkbox" id="b9">
        <input type="checkbox" id="b10">
        <input type="checkbox" id="b11">
        <input type="checkbox" id="b12">
        <input type="checkbox" id="b13">
    </div>
</body>
</html>
<style>
    body{
        align-items: center;

    }
</style>
<script>
var a1=document.getElementById("a1");
a1.addEventListener("click",function(){ 
a1.style.color="red"}
)

</script>