<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<style>
     div{
        display:flex;
    }
</style>
<body>
    <div>
    <th>name</th><dd><input type="text"></dd><br>
    <th>age</th>
    <dd><input type="text"></dd><br>
    <th>phone number</th>
    <dd><input type="number"></dd><br>
    <th>address</th>
    <dd><input type="text"></dd><br>
    </div>

    <div>
        <th>name</th><dd><input type="text"></dd><br>
        <th>age</th>
        <dd><input type="text"></dd><br>
        <th>phone number</th>
        <dd><input type="number"></dd><br>
        <th>address</th>
        <dd><input type="text"></dd><br>
    </div>



</body>
</html>