<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset style="width:500px">
        <legend>payment details</legend>
        <dl>
            <dt>card number</dt>
            <dd><input type="text" id="card" onblur="verifycard()"</dd>
            <dt>cvv</dt>
            <dd><input type="text" id="cvv"</dd>
            
        </dl>
    </fieldset>
</body>
</html>