<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<script>
var a=[1,2,3,4,5,6,7];
var b='apple';
var c=[{"a":'apple',"b":true},{"ba":'banana',"bb":false}];

// console.log(a);
// console.log(b)
// console.log(c);
// console.log(c.splice);
// console.log(c.splice(1,1));


 let str = "hello";
for (let i = 0;  i< str.length; i++) {
    console.log(i, str[i], str[i] , str[i]);
}
var op=str.charAt(2);




</script>