<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    dt {
        position:sticky;
        top:3px;
    }
</style>
<body>
    <nav>
        <dl>
            <h3>YOUR LIST</h3>
            <dt>Home</dt>
            <dd>Your Account</dd>
            <dd>Your Contact Detail</dd>
            <dd>Your Orders</dd>
            <dd>Your cancillation</dd>
            <dd>Your wishlist</dd>
            <dt>Men</dt>
            <dd>Laptop Bags</dd>
            <dd>Keychains</dd>
            <dd>shoes</dd>
            <dd>Formal clothing</dd>
            <dd>Casual clothing</dd>
            <dt>Women</dt>
            <dd>Belts</dd>
            <dd>Bags</dd>
            <dd>Sandles</dd>
            <dd>Pet Products</dd>
            <dd>Keychains</dd>
            <dt>Kids</dt>
            <dd>school clothing</dd>
            <dd>shoes</dd>
            <dd>Toys</dd>
            <dd>Vehicles</dd>
            <dd>Aim For Space</dd>
            <dt>Home</dt>
            <dd>Your Account</dd>
            <dd>Your Contact Detail</dd>
            <dd>Your Orders</dd>
            <dd>Your cancillation</dd>
            <dd>Your wishlist</dd>
            <dt>Men</dt>
            <dd>Laptop Bags</dd>
            <dd>Keychains</dd>
            <dd>shoes</dd>
            <dd>Formal clothing</dd>
            <dd>Casual clothing</dd>
            <dt>Women</dt>
            <dd>Belts</dd>
            <dd>Bags</dd>
            <dd>Sandles</dd>
            <dd>Pet Products</dd>
            <dd>Keychains</dd>
            <dt>Kids</dt>
            <dd>school clothing</dd>
            <dd>shoes</dd>
            <dd>Toys</dd>
            <dd>Vehicles</dd>
            <dd>Aim For Space</dd>
        </dl>
    </nav>
</body>
</html>